.shop-container{
    display: flex;
    background-color: skyblue;
}
.product-container{
    margin: 50px;
}
.product-logo{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.product-logo img{
    height: 50px;
    width: 50px;
    margin-right: 14px;
    border-radius: 2px;
}
.product-logo p{
    font-weight: 700;
    font-size: 25px;
    color: #8B008B;
}
.single-product-item{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.cart-container{
    background-color: #fff;
    color: #000;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .single-product-item{
        grid-template-columns: repeat(1,1fr);
    }
    .product-container{
        margin: 15px;
    }
}
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .single-product-item{
        grid-template-columns: repeat(1,1fr);
    }
}
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .single-product-item{
        grid-template-columns: repeat(2,1fr);
    }
    
  } 
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .single-product-item{
        grid-template-columns: repeat(3,1fr);
    }
  } 
