.theory{
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: lightgreen;
}
.theory h1{
    text-align: center;
    margin-bottom: 35px;
}
.theory-name{
    font-weight: 700;
    font-size: 20px;
}