.theory{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: lightgreen;
}
.theory-name{
    font-weight: 700;
    font-size: 20px;
}